.header-top{
    .container{position: relative;padding-top: 50px;padding-bottom: 15px;}
    .header-top-row{display: flex;align-items: center;}
    h1{
        flex: 0 0 180px;max-width: 180px;
        a{display: block;width: 81px;height: 47px;background: url('../images/common/logo_dark.png') no-repeat 0 0;margin: 0 auto;}
    }
    .header-search{
        flex: 1 1 auto;width: auto;max-width: 100%;
        .search{border: 1px solid #4f5050;display: flex;padding: 5px 0;}
        select.form-control{flex: 0 0 180px;max-width: 180px;border: 0;height: 40px;}
        input.form-control{flex: 1 1 auto;width: auto;max-width: 100%;border: 0;border-left: 1px solid #ddd;height: 40px;}
        .button{flex: 0 0 80px;max-width: 80px;margin-top: -5px;margin-bottom: -5px;
            .btn{border-radius: 0;width: 100%;height: 50px;font-size: 22px;padding: 0;}
        }
    }
    .menu{
        flex: 0 0 285px;max-width: 285px;
        ul{display: flex;justify-content: flex-end;}
        ul li{margin-left: 15px;padding-left: 15px;position: relative;}
        ul li::before{content: '';width: 1px;height: 12px;background: #ccc;position: absolute;left:0;top:5px;}
        ul li:first-child{margin-left: 0;padding-left: 0;}
        ul li:first-child::before{display: none;}
        ul li a{display: inline-block;padding-bottom: 12px;}
        .dropdown-menu{box-shadow: 0 3px 6px rgba(0,0,0,0.3);margin-top: 0;}
        [data-toggle]:hover ~ .dropdown-menu{display: block;}
    }
}
.header-bottom{
    background: #9da3b0;position: relative;
}

#nav{
    position: relative;
    > ul{
        a{text-decoration: none;}
        li{
            position: relative;
            > div > a{height: 50px;line-height: 50px;color: #fff;display: block;text-align: center;font-size: 16px;font-weight: 700;transition:all .2s;
                &:hover{background-color: #848891;}
                .fa-star{color: #000;font-size: 14px;margin-left: 2px;}
            }
        }
        li.icon{
            display: flex;
            > div > a{width: 50px;font-size: 21px;position: relative;}
            .ico-message a{background-color: #464646;}
            .ico-notice a{background-color: #333333;}
            .badge{position: absolute;left:50%;top: -10px;transform: translateX(-50%);border-radius: 100px;color: #fff;width: 20px;height: 20px;padding: 0;line-height: 20px;font-size: 11px;}
        }
        li.allmenu{
            > div > a{background-color: $primary;}
        }
        li{
            > ul{
                background: #fff;border: 1px solid #ddd;border-top: 0;display: none;position: absolute;left:0;top:50px;z-index: 10;width: 100%;
                > li{
                    border-top: 1px solid #ddd;
                    > a{display: block;padding: 10px 20px;color: #444;transition:all .2s;
                        &:hover{background-color: #faf7f1;}
                    }
                    &.active > a{background-color: #faf7f1;font-weight: 700;
                        &::after{color: #fff;}
                    }
                }
            }
        }
        li.hover > ul{display: block;}
        li.has-treeview > div > a{
            position: relative;
            &::after{content: "\f0d7";font-family: "Font Awesome 5 Free";font-weight: 900;color: #6e6e6e;font-size: 14px;position: absolute;right: 14px;}
        }
        li.col:not(.allmenu) + .col{
            border-left: 1px solid #ced0d7;
        }
        li.active{
            > div > a{background: #848891;
                &::after{color: #fff;}
            }
        }
    }
}

.sitemap{
    background: #fff;width: 100%;position: absolute;left: 0;top: 50px;z-index: 99;padding: 40px 0;display: none;font-weight: 700;
    .row{margin-left: -6px;margin-right: -6px;}
    .container{
        > ul{
            > li{
                padding-left: 30px !important;
                > div {
                    margin-bottom: 15px;
                    > a{font-size: 16px;}
                }
                > ul{
                    > li{margin-top: 8px;}
                }
            }
            li.allmenu{
                > div{display: none;}
            }
            li.icon{
                display: flex;padding-left: 0 !important;
                > div > a{opacity: 0;visibility: hidden;width: 50px;}
            }
        }
    }
}
.open-sitemap {
    .sitemap{display: block;}
    .allmenu .fa-bars::before{content: "\f00d";}
}