.event-list{
    ul{display: flex;margin: 0 -15px;}
    li{width: 50%;padding: 15px;}
    a{
        background: #fff;display: flex;align-items:center;text-decoration: none;border: 1px solid #ddd;transition: all .2s;
        .event-img{
            width: 50%;
            img{width: 100%;}
        }
        .event-info{
            width: 50%;padding: 0 20px;
            .tit{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;height: 3em;font-size: 22px;margin-bottom: 15px;}
            .date{display: block;}
        }
        &:hover{border-color: #aaa;}
    }
}
.modal-content{border:none;}