.article-all-gpolio {
    section{padding-bottom: 75px;}
    .title-sub{font-size: 22px;font-weight: 700;border-top: 6px solid #000;padding-top: 30px;display: inline-block;margin-bottom: 50px;}
}
.section-gpolio-contest{
    background: #f8f8f8;
    padding-top: 0 !important;
}
.section-gpolio-event{
    background: #fff;
    .gpolio-list{
        .box{background: #e5e5e5;}
        .box:hover{background-color: #f8f8f8;}
    }
    .btn-more{background: #fff;border-color: $dark;color: $dark;}
    .btn-more:hover,
    .btn-more:focus{background-color: #f1f1f1;}
}
.section-gpolio-design{
    background: #f8f8f8;
}

.gpolio-list{
    display: flex;margin: 0 -15px;
    .item{width: 25%;padding-left: 15px;padding-right: 15px;}
    .box{background: #fff;height: 100%;text-align: center;transition: all .15s;padding: 15px;}
    .box:hover{background-color: #e5e5e5;}
    .img{height: 260px;
        a{display: block;height: 100%;}
        span{position: relative;display: block;width: 100%;height: 100%;overflow: hidden;}
        span::before{content: '';display: block;width: 100%;height: 100%;position: absolute;left: 0;top: 0;z-index: 1;transition:all .2s;}
        span::after{content: "\f002";width: 50px;height: 50px;border-radius: 50px;background-color: #fff;position: absolute;left: 50%;top: 50%;z-index: 1;transform: translate(-50%,-50%);font-family: "Font Awesome 5 Free";font-weight: 900;color: #333;font-size: 20px;line-height: 50px;text-align: center;transition:all .2s;display: none;}
        a:focus span::before,
        a:hover span::before{
            background-color: rgba(0,0,0,0.5);
        }
        a:focus span::after,
        a:hover span::after{
            display: block;
        }
        img{position: absolute;width: 100%;max-height: none;left: 0;top: 0;}
    }
    .txt{
        padding: 15px;
        .subject{font-weight: 700;height: 3em;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
        .host{font-weight: 700;color: #666;margin-top: 8px;font-size: 14px;border-top: 1px solid #eee;padding-top: 8px;}
        .info{padding-top: 15px;margin-top: 15px;border-top: 1px solid #ddd;}
        .date{font-size: 13px;color: #888;}
    }
}
.gpolio-list + .gpolio-list{margin-top: 15px;}

.gallery-list{
    display: flex;flex-wrap: wrap;margin: -10px;
    .item{width: 50%;padding: 10px;}
    .box{background: #fff;height: 100%;transition: all .15s;padding: 15px;display: flex;justify-content: space-between;border: 1px solid #ddd;}
    .box:hover{background-color: #e5e5e5;}
    .txt{
        padding: 15px;flex: 1 0 auto;
        .subject{font-size: 19px;font-weight: 700;height: 3em;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;border-bottom: 1px solid #ddd;}
        .date{font-size: 13px;color: #888;margin-top: 10px;}
        .host{font-weight: 700;color: #666;margin-top: 8px;font-size: 14px;}
    }
    .img{height: 150px;width: 150px;
        a{display: block;height: 100%;position: relative;
            &::before{content: '대상';display: block;width: 100%;background: rgba(0,0,0,0.8);color: #fff;font-weight: 500;text-align: center;padding: 5px 0;position: absolute;left: 0;bottom: 0;z-index: 1;}
        }
        span{position: relative;display: block;width: 100%;height: 100%;overflow: hidden;}
        span::before{content: '';display: block;width: 100%;height: 100%;position: absolute;left: 0;top: 0;z-index: 1;transition:all .2s;}
        span::after{content: "\f002";width: 50px;height: 50px;border-radius: 50px;background-color: #fff;position: absolute;left: 50%;top: 50%;z-index: 1;transform: translate(-50%,-50%);font-family: "Font Awesome 5 Free";font-weight: 900;color: #333;font-size: 20px;line-height: 50px;text-align: center;transition:all .2s;display: none;}
        a:focus span::before,
        a:hover span::before{
            background-color: rgba(0,0,0,0.5);
        }
        a:focus span::after,
        a:hover span::after{
            display: block;
        }
        img{position: absolute;width: 100%;max-height: none;left: 0;top: 0;}
    }
}
.gallery-list + .gallery-list{margin-top: 15px;}

.section-gallery-view {
    .tit{text-align: center;font-size: 24px;margin-bottom: 30px;}
}
.gallery-list-sub{
    display: flex;margin: -10px;
    .item{width: 25%;padding: 10px;}
    .box{background: #fff;height: 100%;transition: all .15s;text-align: center;border: 1px solid #ddd;
        > a{display: block;padding: 15px;height: 100%;position: relative;
            &:hover{color: inherit;text-decoration: none;
                .desc{display: flex;}
            }
        }
    }
    .box:hover{background-color: #f6f6f6;}
    .sector{margin-bottom: 10px;font-weight: 700;}
    .img{height: 200px;
        span{position: relative;display: block;width: 100%;height: 100%;overflow: hidden;}
        //span::before{content: '';display: block;width: 100%;height: 100%;position: absolute;left: 0;top: 0;z-index: 1;transition:all .2s;}
        // span::after{content: "\f002";width: 50px;height: 50px;border-radius: 50px;background-color: #fff;position: absolute;left: 50%;top: 50%;z-index: 1;transform: translate(-50%,-50%);font-family: "Font Awesome 5 Free";font-weight: 900;color: #333;font-size: 20px;line-height: 50px;text-align: center;transition:all .2s;display: none;}
        p{width: 100%;height: 100%;position: absolute;}
        a:focus span::before,
        a:hover span::before{
            background-color: rgba(0,0,0,0.5);
        }
        a:focus span::after,
        a:hover span::after{
            display: block;
        }
        img{position: absolute;width: 100%;max-height: none;left: 0;top: 0;}
    }
    .txt{
        padding: 15px;
        .subject{font-weight: 700;}
        .name{font-weight: 700;margin-top: 8px;}
    }
    .desc{
        position: absolute;left: 0;top: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.65);display: none;flex-direction: column;
        align-items: center;justify-content: center;
        p{height: 9em;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;color: #fff;word-break: keep-all;padding: 0 20px;}
        .btn{margin-top: 10px;background: #fff;font-size: 15px;font-weight: 700;}
    }
}
.gallery-list-sub + .gallery-list-sub{margin-top: 15px;}

.winner-view{
    text-align: center;
    .subject{font-size: 17px;font-weight: 700;text-align: center;}
    .desc{
        margin-top: 20px;
        strong{font-size: 16px;text-align: center;display: block;margin-bottom: 6px;}
    }
}