.body-login{
    background: #f7f7f7;
}

.login{
    height: 100%;display: flex;justify-content: center;flex-direction: column;align-items: center;
    .login-wrap{width: 524px;}
    .login-header{text-align: center;margin-bottom: 30px;}
    .menu{text-align: right;margin-bottom: 20px;margin-top: 20px;
        li{display: inline;margin-left: 15px;
            a{text-decoration: underline;}
        }
    }
    .banners{
        .swiper-slide span{display: block;height:195px;overflow: hidden;width: 100%;position: relative;}
        .swiper-slide img{position: absolute;left: 0;top: 0;max-height: none;width: 100%;}
        .swiper-pagination{position: static;margin-top: 20px;}
        .swiper-pagination-bullet{background: #aeaeae;width: 16px;height: 16px;opacity: 1;}
        .swiper-pagination-bullet-active{background: #30cddb;}
    }

}
.join-go{
    text-align: center;margin-top: 20px;
    p{margin-bottom: 10px;}
    .btn-join{
        display: block;border: 5px solid #eee;background: #fff;text-align: center;padding: 25px 0;height: 100%;text-decoration: none;transition:all .15s;
        > span,
        > strong{display: block;}
        strong{margin: 10px 0 0;font-size: 16px;color: #000;}
        &:hover {border-color: #a0d0de;}
    }
}

.join{
    .join-header{text-align: center;margin-bottom: 30px;}
    .nav{margin-bottom: 20px;background-color: #fff;
        .nav-link{border: 1px solid $secondary;color: $secondary;padding: 0.75rem;}
        .nav-link.active{color: #fff;}
    }

    .form-group > label{font-size: 14px;font-weight: 400;}
}
.form-subtitle{font-size: 16px;font-weight: 700;margin-bottom: 15px;margin-top: 25px;}

.term-wrap{
    .card-header{display: flex;justify-content: space-between;align-items: center;border-bottom: 0;}
    .card + .card{margin-top: -1px;}
    .card-action{background: transparent;border: 0;padding: 0;line-height: 1;font-size: 13px;text-decoration: underline;}
}

.alert-all-delete{text-align: right;margin-bottom: 10px;font-weight: 700;}
.alert{
    a{
        &:hover{color: inherit;}
        i{margin-right: 8px;}
    }
    .txt{margin-top: 10px;}
}

.withdrawal{
    text-align: center;
    .txt1{color: $danger;font-size: 1.2em;margin-bottom: 30px;padding-top: 10px;}
    .txt2{margin-bottom: 30px;}
    .txt3{font-weight: 700;margin-bottom: 50px;}
}

.invoice{
    border: 1px solid #ccc;border-radius: 10px;padding: 30px 25px;background-color: #fafafa;width: 480px;
    h1{text-align: center;font-size: 26px;margin-bottom: 35px;}
    .table{margin: 0;border: 0;
        th,td{padding: .5rem .75rem;}
    }
    .info{
        padding-top: 50px;
        .date{font-size: 13px;}
        .sign{font-size: 24px;margin-left: 8px;vertical-align: middle;display: inline-block;padding-top: 10px;}
        .text-muted{font-size: 12px;}
    }
}

.prize{
    background: url('../images/content/bg_prize.png') no-repeat 50% 50%;background-size: contain;padding: 50px 40px;
    .number{margin-bottom: 15px;font-size: 13px;margin-left: 10px;color: #777;}
    h1{text-align: center;font-size: 26px;margin-bottom: 25px;}
    .table{margin: 0;border: 0;
        th,td{padding: .5rem .75rem;}
    }
    .info{
        padding-top: 50px;
        .certify{font-size: 14px;}
        .date{font-size: 13px;margin-top: 30px;}
        .sign{font-size: 24px;margin-left: 8px;vertical-align: middle;display: inline-block;padding-top: 10px;}
        .text-muted{font-size: 12px;}
    }
}
.print-area{
    padding-left: 30px;padding-right: 30px;
    .prize{
        width: 210mm;height: 297mm;padding: 100px 120px;
        .number{margin-bottom: 40px;}
        h1{font-size: 35px;margin-bottom: 40px;}
        .table{
            margin-top: 40px;
            th,td{padding: .75rem 1rem;font-size: 17px;}
        }
        .info{
            .date{margin-top: 50px;}
            .logo{margin-top: 70px !important;}
            .text-muted{margin-top: 80px !important;}
        }
    }
}