.container {
  max-width: 1240px;
  width: 1280px;
}

.header-top .container {
  position: relative;
  padding: 40px 0 15px 0;
}

.header-top h1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
  max-width: 180px;
}

.header-top h1 a {
  display: block;
  width: 81px;
  height: 47px;
  background: url("../images/common/logo_dark.png") no-repeat 0 0;
  margin: 0 auto;
}

.header-top .header-search {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: auto;
  max-width: 100%;
}

.header-top .header-search .search {
  border: 1px solid #4f5050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
}

.header-top .header-search select.form-control {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
  max-width: 180px;
  border: 0;
}

.header-top .header-search input.form-control {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: auto;
  max-width: 100%;
  border: 0;
  border-left: 1px solid #ddd;
}

.header-top .header-search .button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  max-width: 80px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.header-top .header-search .button .btn {
  border-radius: 0;
  width: 100%;
  height: 50px;
  font-size: 22px;
  padding: 0;
}

.header-top .menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 290px;
          flex: 0 0 290px;
  max-width: 290px;
}

.header-top .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-top .menu ul li {
  margin-left: 15px;
  padding-left: 15px;
  position: relative;
}

.header-top .menu ul li::before {
  content: '';
  width: 1px;
  height: 12px;
  background: #ccc;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
}

.header-top .menu ul li:first-child {
  margin-left: 0;
  padding-left: 0;
}

.header-top .menu ul li:first-child::before {
  display: none;
}

.header-bottom {
  background: #9da3b0;
}

#nav a {
  text-decoration: none;
}

#nav li {
  position: relative;
}

#nav li > div > a {
  height: 50px;
  line-height: 50px;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

#nav li.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nav li.icon > div > a {
  width: 50px;
  font-size: 21px;
  position: relative;
}

#nav li.icon .ico-message a {
  background-color: #464646;
}

#nav li.icon .ico-notice a {
  background-color: #333333;
}

#nav li.icon .badge {
  position: absolute;
  left: 50%;
  top: -10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 100px;
  color: #fff;
  width: 20px;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 11px;
}

#nav li.allmenu > div > a {
  background-color: #f6a51b;
}

#nav li > ul {
  background: #fff;
  border: 1px solid #ddd;
  border-top: 0;
  display: none;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 1;
  width: 100%;
}

#nav li > ul > li {
  border-top: 1px solid #ddd;
}

#nav li > ul > li > a {
  display: block;
  padding: 10px 20px;
  color: #444;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#nav li > ul > li > a:hover {
  background-color: #faf7f1;
}

#nav li.hover > ul {
  display: block;
}

.footer-top {
  background: #000;
}

.footer-top .row {
  border-left: 1px solid #3e3e3e;
}

.footer-top a {
  display: block;
  color: #fff;
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-transition: all .15s;
  transition: all .15s;
}

.footer-top a:hover {
  background-color: #444;
}

.footer-top span::before {
  content: '';
  display: block;
  width: 52px;
  height: 48px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0 auto 10px;
}

.footer-top .item {
  text-align: center;
  border-right: 1px solid #3e3e3e;
  height: 160px;
}

.footer-top .item.i1 span::before {
  background-image: url("../images/common/footer_icon1.png");
}

.footer-top .item.i2 span::before {
  background-image: url("../images/common/footer_icon2.png");
}

.footer-top .item.i3 span::before {
  background-image: url("../images/common/footer_icon3.png");
}

.footer-top .item.i4 span::before {
  background-image: url("../images/common/footer_icon4.png");
}

.footer-top .item.i5 span::before {
  background-image: url("../images/common/footer_icon5.png");
}

.footer-bottom .info {
  padding: 40px 0 40px 260px;
  position: relative;
  background: url("../images/common/logo_dark.png") no-repeat 65px 50%;
}

.footer-bottom .info strong {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */