.wrapper{min-width: 1300px;}
.brand-link{text-align: center;}
.brand-text{color: #fff;margin-left: 5px;}
.brand-link .brand-image{ margin-left: 0; float: none; transition: all 0.15s; -webkit-transition: all 0.15s; -moz-transition: all 0.15s; -ms-transition: all 0.15s; -o-transition: all 0.15s; }
.sidebar-collapse .brand-link .brand-image{width: 45px;margin-left: .45rem;margin-top: .1rem;}

.custom-control-group{margin-bottom: -0.25rem;}
.custom-control-group label + .form-control{display: inline-block;vertical-align: top;width: 280px;margin-top: -7px;margin-left: 5px;}
span.custom-control{display: inline-block;margin-right: 1.25rem;margin-bottom: 0.25rem;}
.custom-control.without-label{margin-right: -0.5rem;margin-bottom: 0;}
.lineheight-match{padding-top: 7px;display: inline-block;}

.form-control[data-check='etc-input']{display: none;}
.form-control[data-loaded]{background-color: #f1f1f1;}
.form-control.w-auto{display: inline-block;}
select.form-control.w-auto{display: inline-block;min-width: auto;}
.form-group .btn{vertical-align: top;}
.form-control[data-width="except-icon"]{width: calc(100% - 40px);display: inline-block;}
.form-control[data-width="except-icon"] + a i{font-size: 24px;margin-left: 5px;vertical-align: middle;margin-top: -3px;}
.form-control[data-width="except-icon"] + a:hover{color: #FE6F65;}

.input-group-append span.custom-control{margin-bottom: 0;margin-right: 0;}

.btns{text-align: center;margin-top: 2.5rem;}
.btn{min-width:90px}
.btns .btn{margin: 0 .25rem;}
.btns .btn-lg{min-width:140px}
.btn-sm{min-width:65px}
.btn i{margin: 0 1px;}
.btn-warning{color: #fff;}
td .btn{vertical-align: top;}
td .row + .row{margin-top: 10px;}
td a:hover{text-decoration: underline;}
.form-control + .btn{margin: 0 3px;}

.btn.btn-tool{min-width: auto;}
.btn.w-auto{min-width: auto;}
.btn.w-100{min-width: auto;}

.form-group > label{font-weight: 700;}

.card-body > .row:last-child .form-group:last-child{margin-bottom: 0;}

.modal .modal-body .btns{margin-top: 2rem;}
.modal-footer{display: block;}
.modal.alert .modal-body{padding: 2rem 1rem;font-size: 14px;letter-spacing: -0.03em;}

.badge.w-fixed{min-width: 50px;padding:0.4em 0.5em 0.5em}
.badge-warning{color: #fff;}
.badge-primary{color: #fff;}
.alert-warning{color: #fff;}
.card-warning:not(.card-outline) > .card-header,
.card-warning:not(.card-outline) > .card-header a{color: #fff;}

.bg-warning,
.bg-warning > a{color: #fff !important;}

.table{font-size: 14px;border-top: 1px solid #dee2e6;border-bottom: 1px solid #dee2e6;}
.table th{color: #333;font-weight: 500;}
.table thead th {background-color: #f2f4f5;}
.table tbody th{background-color: #f2f4f5;vertical-align: middle;}
.table tbody td{vertical-align: middle;}
.table input,
.table .form-control,
.table .custom-file-label{font-size: 0.9375rem}
.table-td-50 tbody td{height: 50px;}

.custom-file-label{padding-top: 0.4rem;}

.note{display: block;font-size: 14px;margin: 0;}
.note + .note{margin-top: 4px;margin-bottom: 10px;}

.step {margin-bottom: 1.75rem;}
.step li .small-box{ border-radius:20px ; -webkit-border-radius:20px ; -moz-border-radius:20px ; -ms-border-radius:20px ; -o-border-radius:20px ; display: block; padding: 10px 10px; margin-bottom: 0; background-color: #fff; overflow: hidden; }
.step li .small-box .icon > i{top: -5px;right: -17px;font-size: 70px;}
.step li span {display: block;font-size: 24px;font-weight: 700;margin-bottom: 10px;font-family: tahoma;}
.step li strong {display: block;font-size: 14px;margin-bottom: 5px;letter-spacing: -0.05em;white-space: nowrap;}
.step li.col-2 .small-box{padding: 10px 5px;}
.step li.col-2 span{font-size: 20px;}
.step li.col-2 a:hover{color: #00C08E;}

.search-wrap{ padding: 1.25rem; background-color: #fff; border: 1px solid #ddd; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; margin-bottom: 1.75rem;}
.search-wrap h2{display: block;font-size: 20px;margin-bottom: 1rem;}
.search-wrap .form-group{margin-bottom: 1.25rem;}
.search-wrap .btns{margin-top: 0;}

.contest-select-wrap label{font-size: 18px;margin-bottom: 0;}
.contest-select-wrap *{vertical-align: middle;}

.table-title{font-size: 17px;margin-top: 2rem;}

.table-top{margin-bottom: 0.5rem;}
.table-top p{padding-top: 10px;margin: 0;font-size: 14px;}
.table-top .text-right > .btn,
.table-top .text-right > .form-control{margin-left: 3px;}
.table-top .row + .row{margin-top: 10px;}

.table-bottom{margin-top: 0.5rem;}
.table-bottom p{font-size: 14px;}
.table-bottom .text-right > .btn,
.table-bottom .text-right > .form-control{margin-left: 3px;}
.table-bottom .btn-withicon{display: inline-block;line-height: 20px;margin-top: 5px;}
.table-bottom .btn-withicon i{font-size: 24px;vertical-align: middle;margin: -3px 5px 0 0;}
.table-bottom .btn-withicon:hover{color: #FE6F65;}

.table-group{position: relative;}
.table-group .btn-table-del{position: absolute;right: 0;top: 0;}
.table-group .btn-table-del i{font-size: 24px;vertical-align: middle;margin: -3px 5px 0 0;}
.table-group .btn-table-del:hover{color: #FE6F65;}

.pagination-wrap{text-align: center;margin-top: 2rem;}
.pagination-wrap .pagination{display: inline-block;}
.pagination-wrap .page-item{display: inline-block;}

.control-sidebar-content h5{font-size: 1rem;font-weight: 700;}
.control-sidebar-content ul{margin-top: 1rem;margin-bottom: 2rem;}
.control-sidebar-content ul li{line-height: 2em;}
.control-sidebar-content ul li:before{content: '- ';}

.contest-hold-ok > section{ border: 2px solid #ddd; padding: 1.5rem; margin-bottom: 1.5rem; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; background: #fff;}
.contest-hold-ok > section > strong{display: block;text-align: center;font-size: 26px;font-weight: 700;padding: 2rem 1rem 0;}
.contest-hold-ok > section > p{display: block;text-align: center;font-size: 20px;font-weight: 400;padding: 3rem 1rem;}
.contest-hold-ok .card{height: 300px;margin-bottom: 0;}
.contest-hold-ok .card .d-flex{height: 100%;text-align: center;}
.contest-hold-ok .card .d-flex a{display: block;width: 90%;}
.contest-hold-ok .card .d-flex .btn{display: block;width: 100%;margin-top: 2rem;}

.template{position: relative;}
.template:before{ content: ''; display: block; border: 1px solid #ddd; position: absolute; left: 0; top: 0; right: 0; bottom: 0; transition: all 0.3s; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; }
.template .t-head{text-align: center;padding: 15px;border-bottom: 1px solid #ddd;}
.template .t-body{padding: 15px;background-color: #f2f2f2;min-height:200px}
.template .t-foot{padding: 15px;border-top: 1px solid #ddd;}
.template.active:before{border-color: #00C08E;border-width: 5px;}
.template.active:after{ content: '\f058'; display: block; width: 35px; height: 35px; font-family: "Font Awesome 5 Free"; position: absolute; right:-18px; top:-18px; color: #00C08E; font-size: 28px; z-index: 1; background-color: #fff; border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px; -ms-border-radius: 100px; -o-border-radius: 100px;overflow: hidden;}

.col-4 .template{margin-top: 20px;}
.col-4:nth-of-type(1) .template,
.col-4:nth-of-type(2) .template,
.col-4:nth-of-type(3) .template{margin-top: 0;}

.upload-thumb{position: relative;width: 36px;height: 36px;}
.upload-thumb img{width: 100%;height: 100%;}
.upload-thumb .button{position: absolute;right:-18px;top:-3px;font-size: 17px;color: #000;}

.login-page{background-color: #1E1E1E;}
.login-box{background-color: #e9ecef;height: 100%;width: 600px;padding: 0 100px;}
.login-area{display: flex;flex-direction: column;justify-content: center;height: 100%;}
.login-logo{margin-bottom: 3rem;}

.sub-tab-nav{margin-bottom: 1rem;}
.sub-tab-nav .nav-link{border-bottom: 0;}
.sub-tab-nav .nav-link.active{border-top: 3px solid #dc3545;}

/* 2020.08.11. 수상작 관리 시작 */
.winner-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -10px;
    padding: 10px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .winner-list .item {
    width: 33.3333%;
    padding: 10px;
  }

  .winner-list .box {
    background: #fff;
    height: 100%;
    -webkit-transition: all .15s;
    transition: all .15s;
    text-align: center;
    border: 1px solid #ddd;
    padding: 15px;
  }

  .winner-list .box .btn {
    min-width: auto;
  }

  .winner-list .sector {
    font-weight: 700;
  }

  .winner-list .img {
    height: 200px;
    margin-top: 15px;
  }

  .winner-list .img span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .winner-list .img a {
    display: block;
    height: 100%;
    position: relative;
  }

  .winner-list .img a:hover {
    color: inherit;
    text-decoration: none;
  }

  .winner-list .img a:hover .desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .winner-list .img a:focus span::before,
  .winner-list .img a:hover span::before {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .winner-list .img a:focus span::after,
  .winner-list .img a:hover span::after {
    display: block;
  }

  .winner-list .img img {
    position: absolute;
    width: 100%;
    max-height: none;
    left: 0;
    top: 0;
  }

  .winner-list .desc {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .winner-list .desc p {
    height: 4.5em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    word-break: keep-all;
    padding: 0 20px;
  }

  .winner-list .desc .btn {
    margin-top: 10px;
    background: #fff;
    font-size: 15px;
    font-weight: 700;
  }

  .winner-list .txt {
    margin-top: 15px;
  }

  .winner-list .txt .subject {
    font-weight: 700;
  }

  .winner-list .txt .name {
    font-weight: 700;
    margin-top: 8px;
  }
  /* 2020.08.11. 수상작 관리 종료 */